<section id="watch-list">
    <dir class="video-list-container">
        <h1 class="video-list-title">Watch List</h1>
        <div class="video-list-wrapper">
            <div class="video-list">
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/2.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/3.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/4.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/5.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/6.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
            </div>
            <i class="fa fa-chevron-right arrow"></i>
        </div>

        <h1 class="video-list-title">Watch List</h1>
        <div class="video-list-wrapper">
            <div class="video-list">
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
            </div>
            <i class="fa fa-chevron-right arrow"></i>
        </div>

        <h1 class="video-list-title">Watch List</h1>
        <div class="video-list-wrapper">
            <div class="video-list">
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
            </div>
            <i class="fa fa-chevron-right arrow"></i>
        </div>

        <h1 class="video-list-title">Watch List</h1>
        <div class="video-list-wrapper">
            <div class="video-list">
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
                <div class="video-list-item">
                    <img class="video-list-item-img" src="img/watch-list/1.png">
                    <span class="video-list-item-title">Course 1</span>
                    <p class="video-list-item-desc">abc xyz</p>
                    <button class="video-list-item-button">Watch</button>
                </div>
            </div>
            <i class="fa fa-chevron-right arrow"></i>
        </div>
    </dir>
</section>

{{#section 'js'}}
    <script>
        const arrows = document.querySelectorAll(".arrow");
        const videoLists = document.querySelectorAll(".video-list");

        arrows.forEach((arrow, i) => {
            const itemNumber = videoLists[i].querySelectorAll("img").length;
            let clickCounter = 0; 

            arrow.addEventListener("click", () => {
                const ratio = Math.floor(window.innerWidth * 0.9 / 270);
                clickCounter++;
                if (itemNumber - (4 + clickCounter) + (4 - ratio) >= 0) {   
                    videoLists[i].style.transform = `translateX(${
                    videoLists[i].computedStyleMap().get("transform")[0].x.value-300}px)`;
                } else {
                    videoLists[i].style.transform = "translateX(0)";
                    clickCounter = 0;
                }
            });
        });
    </script>
{{/section}}