<!doctype html>
<html lang="en">
  <head>
    <title>PTUDW - Final Project - Online Academy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../public/css/teacherHome.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" style="height: 5.2rem;">
    <button style="border: none; outline: none" onclick="change()">
        <i class="bi bi-stars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item active">
            <a class="nav-link" href="#">Catagory</a>
        </li>
        <li class="nav-item">
            <form class="form-inline my-2 my-lg-0">
            <div class="form-control mr-sm-2" style="border-radius: 30px; width: calc(100vw - 600px);">
                <button type="submit" style="outline: none;">
                <i class="bi bi-search"></i>
                </button>
                <input type="search" placeholder="Search" aria-label="Search" >
            </div>
            </form>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Business</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Teaching</a>
        </li>

        <li class="nav-item">
            <button style="border: none; outline: none; margin-top: 5px;">
            <i class="bi bi-heart"></i>
            </button>
        </li>

        <li class="nav-item">
            <button style="border: none; outline: none; margin-top: 5px;">
            <i class="bi bi-cart"></i>
            </button>
        </li>

        <li class="nav-item">
            <button style="border: none; outline: none; margin-top: 5px;">
            <i class="bi bi-bell"></i>
            </button>
        </li>
        <li class="nav-item">
            <div class = "dropdown" style="width: 3.2rem; height:3.2rem; border: 1px solid black; border-radius: 100%; text-align: center; background-color:black;">
                <div class="dropbtn" style="margin-top: 0.8rem; color:white;">{{accountShortName}}</div>        
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" style="padding: 10px; border: 1px solid black"><i class="bi bi-globe"></i></a>
        </li>
        </ul>
    </div>
    </nav>

    <div id = "sideBar" class="w3-animate-left" style="display: none;">
    <nav class="col-md-2 d-none d-md-block bg-light shadow-sm" style="height: calc(100vh - 5.2rem); position:absolute; display:block">
        <ul class="nav flex-column" style="position: relative; top: calc(40vh - 5.2rem);">
            <li class="nav-item sideBar-item">
                <a class="nav-link" href="/teacher/edit/profile">
                <i class="bi bi-person-circle"></i> Edit acount
                </a>
            </li>
            <li class="nav-item sideBar-item">
                <a class="nav-link" href="/teacher/new/course">
                <i class="bi bi-book"></i> Post new course
                </a>
            </li>
            <li class="nav-item sideBar-item">
                <a class="nav-link" href="#">
                <i class="bi bi-bookmark-heart"></i> Edit course
                </a>
            </li>
            
        </ul>
    </nav>
    </div>

    <div id ="main" style="margin-left: 0%;">
        {{{body}}}
    </div>

    <script>
    let open = false;
    
    function change(){
        open = !open;
        if (open) sb_open();
        else sb_close();
    }

    function sb_open() {
        document.getElementById("main").style.marginLeft = "18%";
        document.getElementById("sideBar").style.display = "block";
    }
    function sb_close() {
        document.getElementById("main").style.marginLeft = "0%";
        document.getElementById("sideBar").style.display = "none";
    }
    </script>   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>