.sideBar-item{
    position: relative;
    left: 40px;
}
input:focus, button:focus{
    outline: none;
}
input, button{
    border-width: 0px;
    background-color: transparent;
}
.nav-item{
    margin-left: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 20px;
    top: 40px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.closebtn {
    margin-right: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
.addLectureWindow {
    background-color: #0dcaf0;
    width: 80%;
    height: 30%;
    overflow: auto;
    position: absolute;
}